<template>
    <section class="product">
        <div class="product__container">
            <h2 class="product__header">Elden Ring Review</h2>
        </div>
        <!-- rest of article review could be here -->
    </section>
</template>

<script>
export default {
    name: "reviewProduct"
    
}
</script>

<style scoped>
.product {
    background-color: #F6F7F7;
    padding: 4rem 0rem;
}

    .product__container {
        max-width: 60rem;
        width: 100%;
        margin: auto;
    }

        .product__header {
            background-color: #3b3b3b;
            color: white;
            font-size: 3rem;
            line-height: 1.3;
            margin: 0rem;
            padding: 1rem;
        }
</style>