<template>
    <article class="article">
        <div class="article__detailed">
            <div class="article__detailed-review">
                <div class="article__detailed-rating-container" v-for="(review, index) in getFormatedTextBodyRating" :key='index'>
                    <div class="article__detailed-rating"> 
                        <StarRating 
                            v-model:rating="review.rating"
                            :read-only="true"
                            :show-rating="false"
                            :star-size="10"
                            :max-rating="10" />
                            <span class="article__detailed-rating-text">{{ review.location }}</span>
                    </div>
                </div>
            </div>
            <div class="article__overall">
                <div class="article__overall-rating">
                    <span class="article__overall-heading">Overall review rating</span> 
                     <StarRating 
                        class="article__overall-rating-stars"
                        v-model:rating="getScoreToNumber"
                        :read-only="true"
                        :show-rating="false"
                        :star-size="20" />
                    <p class="article__overall-text"> <span class="article__overall-heading">Overall Review: </span><span class="article__overall-span">{{ reviewSentimentTag }}</span></p>
                    <p class="article__overall-text"> <span class="article__overall-heading">Reviewer Score: </span>{{ getreviewSentimentScore }}%</p>
                </div>
            </div>
        </div>
        <h3 class="article__header">
                {{nameOfGame}}
        </h3>
        <p class="article__text">
            {{ getFormatedTextBodyReview }}
        </p>
        <p class="article__statment">
            {{ getFormatedTextBodyLast }}
        </p>
        <div class="article__footer"> 
            <div class="article__footer-date">
                Review submitted:
                <time :datetime="reviewSubmittedDate">
                    {{ getFormatedDate }}
                </time>
            </div>
            <button @click="likeEventHandler" class="article__likes-button">
                <img :src="this.liked ? getLikeIconDoneImg : getLikeIconImg" 
                    width="20" 
                    height="20" 
                    alt="" 
                    loading="lazy"/>
                    <span class="article__likes-amount">{{ reviewLikes }}</span> 
            </button>
        </div>
    </article>
</template>

<script>
import StarRating from 'vue-star-rating'

export default {
    name: "reviewCard",
    components: {
        StarRating
    },
    props: {
        id : {
            type: Number,
            require: true
        },
        nameOfGame: {
            type: String,
            require: true
        },
        reviewTextBody: {
            type: String,
            require: true
        },
        reviewScore: {
            type: Number,
            require: true     
        },
        reviewLikes: {
            type: Number,
            require: true    
        },
        reviewSentimentTag: {
            type: String,
            require: true
        },
        reviewSentimentScore: {
            type: Number,
            require: true
        },
        reviewSubmittedDate: {
            type: String,
            require: true            
        }
    },
    data() {
        return {
            liked: false,
        }
    },
    methods: {
        likeEventHandler() {
            this.liked = !this.liked;
            if (this.liked) {
                this.$store.dispatch('increment', {
                    id: this.id,
                });
            } else {
                this.$store.dispatch('decrease', {
                    id: this.id,
                });
            }
        }
    },
    computed : {
        getScoreToNumber() {
            return parseInt(this.reviewScore);
        },
        getreviewSentimentScore() {
            return (parseFloat(this.reviewSentimentScore) * 100).toFixed();
        },
        getFormatedDate() {
            let monthNames =["Jan","Feb","Mar","Apr",
                    "May","Jun","Jul","Aug",
                    "Sep", "Oct","Nov","Dec"];
            const date = new Date(this.reviewSubmittedDate);
            const day = date.getDate();
            const month = monthNames[date.getMonth()];
            const year = date.getFullYear();
            return `${day} ${month} ${year}`;
        },
        // the getFormateTExtBody..... are on the assumtion that the formate of the body will always hold 
        // 3 <br/> otherwise the content between will be rendered differetly
        getFormatedTextBodyRating() {
            const reviewTextBody = this.reviewTextBody.split('<br/>');
            let newFormate = '';
            if (reviewTextBody[0]) {
                let reviewRatingBreakdown = reviewTextBody[0].split('/');
                const mappedReviewRating = reviewRatingBreakdown.map(review => {
                    let breakDownReviewText = review.trim().split(' ');
                    return {
                        "total": breakDownReviewText,
                        "rating": parseInt(breakDownReviewText.shift()),
                        "location": breakDownReviewText[0].toString()
                    }
                })
                newFormate = mappedReviewRating;
            }
            return newFormate;
        },
        getFormatedTextBodyReview() {
            const reviewTextBody = this.reviewTextBody.split('<br/>');
            return reviewTextBody[1];
        },
        getFormatedTextBodyLast() {
            const reviewTextBody = this.reviewTextBody.split('<br/>');
            return reviewTextBody[2];
        },
        getLikeIconImg() {
            var images = require.context('../assets/', false, /\.png$/)
            return images('./' + 'like-icon' + ".png")
        },
        getLikeIconDoneImg() {
            var images = require.context('../assets/', false, /\.png$/)
            return images('./' + 'like-icon-done' + ".png")
        }
    }

}
</script>

<style scoped>

.article {
    padding: 2.5rem 1rem;
    position: relative;
    padding: 1.875rem 1.625rem;
    border: 0.063rem solid #EEEEEE;
    margin-bottom: 1.875rem;
    border-radius: 0.313rem;
    box-shadow: 0 0.063rem 0.125rem rgb(0 0 0 / 30%);
    text-align: center;
    background-color: #FFFFFF;
}

    .article__detailed {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        text-align: left;
        font-size: .8rem;
        padding-bottom: 2rem;
    }

        .article__detailed-review {
            font-size: .9rem;
            padding-top: 1.5rem;
        }

            .article__detailed-rating-container {
                padding-bottom: .5rem;
            }

                .article__detailed-rating {
                    display: flex;
                    text-transform: capitalize;
                }

                    .article__detailed-rating-text {
                        padding-left: .5rem;
                    }

    .article__overall {
        font-size: .8rem;
    }

        .article__overall-rating {
            padding-top: 0rem;
        }

            .article__overall-heading {
                font-weight: bold;
            }

            .article__overall-rating-stars {
                padding-top: .5rem;
                padding-bottom: .5rem;
            }

        .article__overall-text {
            margin-top: 0rem;
            margin-bottom: .3rem;
        }

            .article__overall-span {
                text-transform: capitalize;
            }

    .article__header {
        font-size: 1.5rem;
        text-align: left;
        line-height: 1.4;
        max-width: 40rem;
        margin: auto;
        padding-bottom: 1.5rem;
    }

    .article__text {
        font-size: 1rem;
        text-align: left;
        line-height: 1.4;
        max-width: 40rem;
        margin: auto;
    }

    .article__statment {
        font-weight: bold;
        padding-bottom: 3rem;
        color: #379500;
    }
    
    .article__footer {
        display: flex;
        font-size: .8rem;
        justify-content: space-between;
    }

        .article__likes-button {
            background-color: inherit;
            border: 0rem;
            cursor: pointer;
        }

            .article__likes-amount {
                padding-left: .5rem;
            }

        .article__footer-date {
            font-size: .7rem;
        }

 @media only screen and (min-width: 30rem) {
     .article {
        padding: 2.5rem;
    }

        .article__detailed {
            flex-direction: row;
        }

        .article__detailed-review {
            padding-top: 0rem;
        }
}


</style>