<template>
    <section class="block-container">
        <header class="block-container__header">
            <h2 class="block-container__title">Want to hear what others thing? See customer reviews</h2>
        </header>
        <div class="block-container__text-block">
            <p class="block-container__text">Don't just listen to us, have a look at what other think of the product. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop </p>
        </div>
        <div class="block-container__review">
            <div class="block-container__filter">
                <form class="block-container__filter-form" @change.prevent="filterEventHandler">
                    <div class="block-container__select-container">
                        <label class="block-container__label" for="filter-type">Filter reviews by</label>
                        <select class="block-container__select" 
                                name="filter-type" 
                                id="filter-type" 
                                v-model="filter.filterType">
                            <option value="rating" selected>rating</option>
                            <option value="likes">highest rated review</option>
                            <option value="submitted">review submitted date </option>
                        </select>
                    </div>
                    <div class="block-container__select-container">
                        <label class="block-container__label" for="order">Choose order:</label>
                        <select class="block-container__select" 
                                name="order" 
                                id="ordes" 
                                v-model="filter.order">
                            <option value="default" selected>default</option>
                            <option value="ascending">ascending</option>
                            <option value="descending">descending</option>
                        </select>
                    </div>
                    <div class="block-container__select-container">
                        <label class="block-container__label" for="game">Game</label>
                        <select class="block-container__select" 
                                name="game" 
                                id="game"
                                v-model="filter.game">
                            <option value="all" selected>all</option>
                            <option v-for="(game, index) in getAllGamesData"
                                    :value="game.id"
                                    :key="index">{{ game.name }}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="block-grid"> 
                <ReviewCard 
                    v-for="review in reviewDataHandler" 
                    :key="review.id" 
                    :id="review.id"
                    :nameOfGame="review.game.name"
                    :reviewTextBody="review.body"
                    :reviewScore="review.score"
                    :reviewLikes="review.likes"
                    :reviewSentimentTag="review.sentiment.tag"
                    :reviewSentimentScore="review.sentiment.score"
                    :reviewSubmittedDate="review.submitted"
                />
            </div>
        </div>
    </section>
</template>

<script>
import ReviewCard from './reviewCard.vue'

export default {
    name: "reviewList",
    components: {
        ReviewCard
    },
    data() {
        return {
            filter: {
                filterType: 'rating',
                order: 'ascending',
                game: 'all'
            }
        }
    },
    methods: {
        filterEventHandler(){
            this.$store.dispatch('filter', {
                filter: this.filter,
            });
        }
    },
    computed: {
        reviewDataHandler() {
            if (this.filter.game === 'all') {
                return this.$store.getters.getData;
            } else {
                return this.$store.getters.getData.filter(review => review.game.id === this.filter.game );      
            }
        },
        getAllGamesData() {
            let allGamesArr = []
            this.$store.getters.getData.forEach(gameReview => {
                allGamesArr.push(gameReview.game);
            });
            allGamesArr = allGamesArr.reduce((map, obj) => map.set(obj.id, obj) ,new Map()).values()
            return [...new Set(allGamesArr)]
        }
    }
}
</script>

<style>
.block-container {
    max-width: 80.125rem;
    margin: 0 auto;
    padding: 4rem 1rem;
}

    .block-container__header {
        text-align: left;
    }

        .block-container__title {
            color: #379500;
            font-size: 2.3rem;
            line-height: 1.3;
            font-weight: 600;
            margin-top: 3.125rem;
            margin-bottom: 0rem;
            text-transform: none;
        }

    .block-container__text-block {
        padding: 1rem 0rem;
    }

        .block-container__text {
            text-align: left;
            font-size: 1.1rem;
            line-height: 1.5;
            color: #3b3b3b;
        }

    .block-container__review {
        padding: 4rem 0rem;
    }

        .block-container__filter {
            padding: 2rem 0rem;
        }
           
            .block-container__filter-form {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
            }

                .block-container__select-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-right: 2rem;
                }

                
                    .block-container__label {
                        text-align: left;
                        font-size: .9rem;
                        padding-bottom: .25rem;
                        color: #888888;
                    }

                    .block-container__select {
                        appearance: none;
                        -webkit-appearance: none;
                        background-image: url(https://relativeinsight.com/wp-content/themes/ad-wp-theme/assets/svg/select-arrow.svg);
                        background-position: calc(100% - 1rem) 1.25rem;
                        background-repeat: no-repeat;
                        background-size: 0.938rem;
                        height: 3.125rem;
                        max-width: 20rem;
                        width: 100%;
                        font-size: 1.2rem;
                        padding: 0rem 1rem;
                    }

        .block-grid {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
        }


 @media only screen and (min-width: 60rem) {
     
    .block-container {
        padding-left: 1.563rem;
        padding-right: 1.563rem;
    }

    .block-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }
    
    .block-container__filter-form {
        flex-direction: row;
    }

    .block-container__select {
        width: 20rem
    }
}


</style>