<template>
  <TheHero />
  <ReviewList />
</template>

<script>
import TheHero from './layouts/TheHero.vue'
import ReviewList from './components/reviewList.vue'

export default {
  name: 'App',
  components: {
      TheHero,
      ReviewList,
  }
}
</script>

<style>
#app {
  font-family: "graphik", "Helvetica", "Arial", sans-serif;
  text-align: center;
}
</style>
