<template>
    <div class="hero">
        <h1 class="hero__header">It’s all Relative</h1>
        <h2 class="hero__sub-header">See below for customer reviews on the product for the Relative Insights vue app demo</h2>
    </div>
</template>

<script>
export default {
  name: 'TheHero',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.hero {
    background-image: url(https://relativeinsight.com/wp-content/themes/ad-wp-theme/assets/svg/inner-hero_halftone-left.svg), url(https://relativeinsight.com/wp-content/themes/ad-wp-theme/assets/svg/homepage_hero_halftone-bottom.svg), linear-gradient(33.4deg, #55BD00 0.02%, #BDFC30 45.31%, #B8F831 71.56%);
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: top left, bottom center !important;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

    .hero__header {
        font-size: 2.5rem;
        line-height: 1.3;
        margin-bottom: 0rem;
        margin-top: 0rem;
        padding: 0rem 1rem;
        color: #1b1b1b;
    }

    .hero__sub-header {
        font-size: 1rem;
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 0rem;
        padding: 0rem 1rem;
        color: #1b1b1b;
    }

 @media only screen and (min-width: 60rem) {
     
    .hero__header {
        font-size: 4.8rem;
    }

    .hero__sub-header {
        font-size: 1.375rem;
    }
}

</style>
